AES_PASSWORD=example_password
CHAT_KEY=key_for_llm
CLAUDE_KEY=key_for_llm
MONGODB_URI=mongodb+srv://username:password@mongodb.net/?retryWrites=true&w=majority&appName=AppName
DATABASE_NAME=database_name